<div class='errors server-error'>
	<h2 class='text-center title' style='margin-top: 10%;'>服务器出错</h2>
	<div class='text-center' style='padding-top: 20px'>
		<%= link_to "返回首页", '/', class: 'btn btn-pink', style: 'text-decoration: none' %>
	</div>
</div>
